<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${var:logDirectory}/nlog-internal.log">

  <targets>

    <target
      xsi:type="File"
      name="logfile"
      fileName="${var:logDirectory}/marketalert-${shortdate}.log"
      createDirs="true"
      keepFileOpen="false"
      concurrentWrites="true"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>

    <logger
      name="*"
      minlevel="Trace"
      writeTo="logfile" />
  </rules>
</nlog>